<h1>AFFAIRE PRIORITAIRE</h1>

<div class="row">

  <div class="col-4">

    <div class="card card-cascade">

        <div class="view gradient-card-header blue-gradient text-center">
            <h2 class="h2-responsive">AFFAIRE 1</h2>
            
        </div>
       
        <div class="card-body text-center">

            <p class="card-text">DETAIL DE L'AFFAIRE</p>
            
        </div>
        
        <div class="card-body text-center">

            <p class="card-text">LIEN VERS L'AFFAIRE</p>
            
        </div>

    </div>

  </div>

  <div class="col-4">

      <div class="card card-cascade">
  
          <div class="view gradient-card-header blue-gradient text-center">
              <h2 class="h2-responsive">AFFAIRE 2</h2>
              
          </div>
         
          <div class="card-body text-center">
  
              <p class="card-text">DETAIL DE L'AFFAIRE</p>
              
          </div>
          
          <div class="card-body text-center">
  
              <p class="card-text">LIEN VERS L'AFFAIRE</p>
              
          </div>
  
      </div>

    </div>

    <div class="col-4">

        <div class="card card-cascade">
    
            <div class="view gradient-card-header blue-gradient text-center">
                <h2 class="h2-responsive">AFFAIRE 3</h2>
                
            </div>
           
            <div class="card-body text-center">
    
                <p class="card-text">DETAIL DE L'AFFAIRE</p>
                
            </div>
            
            <div class="card-body text-center">
    
                <p class="card-text">LIEN VERS L'AFFAIRE</p>
                
            </div>
    
        </div>
  
        
    
      </div>
  
  

</div>