<div class="row">

  <div class="col-12">
    <h1>MODIFICATION DES DROITS D'UN AGENT</h1>
  </div>

</div>

<form>

  <div class="container">

    <div class="row">

      <div class="col-6">

        <h3>Choisissez un agent</h3>

        <div class="text-center">

          <mat-form-field>
            <mat-select placeholder="Agent">
              <mat-option *ngFor="let agent of agents" [value]="agent">
                {{ agent }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

      </div>

      <div class="col-6">

        <h3>Choisissez le type de profil pour l'agent</h3>

        <div class="text-center">

          <mat-radio-group>
            <mat-radio-button *ngFor="let profil of profils" [value]="profil">
              {{profil}}
            </mat-radio-button>
          </mat-radio-group>


        </div>

      </div>

      <div class="col-12 text-center">

        <input type="submit" class="btn btn-info justify-content-center" value="Valider">

      </div>

    </div>

  </div>

</form>

<!-- CREATION AGENT -->

<div id="toto">

  <app-creation-agent></app-creation-agent>

</div>