<h1>CREATION D'UN AGENT</h1>

<form>

  <div class="row">

    <div class="col-6 text-center" id="formContainer">

        <mat-input-container>
          <input matInput placeholder="Nom" [(ngModel)]="agent.nom" name="nom"><br>
        </mat-input-container>
             
      <mat-input-container>
        <input matInput placeholder="Prenom" [(ngModel)]="agent.prenom" name="prenom"><br>
      </mat-input-container>
    
    </div>

    <div class="col-6 text-center">
 
      <mat-input-container>
        <input matInput placeholder="Mail" [(ngModel)]="agent.email" name="email"><br>
      </mat-input-container>

      <mat-input-container>
        <input matInput placeholder="Mot de passe" [(ngModel)]="agent.motdepasse" name="motdepasse"><br>
      </mat-input-container>

  </div>
      
  </div>
  
<div class="text-center">
  <button class="btn btn-info text-center" type="submit" (click)="createAgent()">Valider</button>
</div>

</form>
