<div class="row">

  <div class="col-6">
    <input type="text" class="form-control" id="marqueVehicule" placeholder="Marque">
    <br>
    <input type="number" class="form-control" id="couleurVehicule" placeholder="Couleur">
    <br>
  </div>
  <div class="col-6">
    <input type="text" class="form-control" id="modeleVehicule" placeholder="Modèle">
    <br>
    <input type="text" class="form-control" id="immatriculationVehicule" placeholder="Immatriculation">
  </div>
</div>

<div class="row">
    
  <button class="col-12 btn btn-info waves-light" type="submit" routerLink="/index/affichage-recherche">VALIDER</button>

</div>